.App {
	text-align: center;
}
button {
	border: none;
	background-color: green;
	box-shadow: 3px 3px 8px gray;
	padding: 10px 20px;
	border-radius: 5px;
	margin: 20px;
	color: white;
}
.link {
	text-decoration: none;
	color: rgb(253, 253, 255);
	cursor: pointer;
}
h1 {
	color: black;
}
.card {
	padding: 25px;
	width: fit-content;
	margin: 20px auto;
	background: #fff9f9;
	border-radius: 5px;
	box-shadow: 0 0 7px #a8a8a8;
	border-bottom: 2px solid #888888;
}
.card:hover {
	box-shadow: 0 0 10px #7e7c7c;
}
